$color-white: #fff;
$color-sigh: #F6F2BA;
$color-creative: #26EFF4;
$color-plastic-stem: #725830;
$color-dirty-turqoise: #24A1AE;
$color-almost-black: #080202;
$color-almost-black-1: #080202;
$color-almost-black-1: #080202;
$color-almost-black-1: #080202;
$color-almost-black-1: #080202;
